%h1 Listing cotizations

%table
  %thead
    %tr
      %th User
      %th Product
      %th Quantity
      %th
      %th
      %th

  %tbody
    - @cotizations.each do |cotization|
      %tr
        %td= cotization.user
        %td= cotization.product
        %td= cotization.quantity
        %td= link_to 'Show', cotization
        %td= link_to 'Edit', edit_cotization_path(cotization)
        %td= link_to 'Destroy', cotization, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Cotization', new_cotization_path
