-# %h1 Listing cotizations

-# %table
-#   %thead
-#     %tr
-#       %th User
-#       %th Product
-#       %th Quantity
-#       %th
-#       %th
-#       %th

-#   %tbody
-#     - @cotizations.each do |cotization|
-#       %tr
-#         %td= cotization.user
-#         %td= cotization.product
-#         %td= cotization.quantity
-#         %td= link_to 'Show', admin_cotization_path(cotization)
-#         %td= link_to 'Edit', edit_admin_cotization_path(cotization)
-#         %td= link_to 'Destroy', admin_cotization_path(cotization), method: :delete, data: { confirm: 'Are you sure?' }

-# %br

-# = link_to 'New Cotization', new_admin_cotization_path
%section.cart.bgwhite.p-t-70.p-b-100
  .container
    .container-table-cart.pos-relative
      .wrap-table-shopping-cart.bgwhite
        %table.table-shopping-cart
          %tr.table-head
            %th Usuario
            %th Producto
            %th Cantidad
            %th Precio total
            %th
          - @cotizations.each do |cotization|
            %tr.table-row
              %td= cotization.user.email
              %td= cotization.product.title
              %td= cotization.quantity
              -# %td= number_to_currency(product.price, locale: :en)
              %td
                %ul
                  %li
                    = link_to admin_cotization_path(cotization), class: 's-text19' do
                      %i.fa.fa-eye
                  %li
                    = link_to edit_admin_cotization_path(cotization), class: 's-text19' do
                      %i.fa.fa-pencil
                  %li                    
                    = link_to admin_cotization_path(cotization), method: :delete, data: { confirm: 'Estás seguro?' }, class: 's-text19' do
                      %i.fa.fa-trash
