%p#notice= notice

%p
  %b User:
  = @cotization.user
%p
  %b Product:
  = @cotization.product
%p
  %b Quantity:
  = @cotization.quantity

= link_to 'Edit', admin_edit_cotization_path(@cotization)
\|
= link_to 'Back', admin_cotizations_path
